.typed-cursor {
  display: none;
}

.break-homepage{
  height: 25vh;
  background-color: #EDEBE4;
}


.brand{
  width: 60px;
}


.text-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-height{
  height: 20vh;
}


.text-container h1{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  font-size: 95px;
  color: rgba(225,225,225, .01);
  background-image: url("https://cdn.shopify.com/s/files/1/1143/5434/products/Optic_Triangle-by-Clare-V_Beige_Black_design_e21cf279-8485-44dd-aed2-e7d8ddd83d43_1200x1200.jpg?v=1633377894");
  background-repeat: repeat;
  -webkit-background-clip:text;
  animation: animate 15s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}
.text-container h2{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  font-size: 30px;
  color: rgba(225,225,225, .01);
  background-image: url("https://cdn.shopify.com/s/files/1/1143/5434/products/Optic_Triangle-by-Clare-V_Beige_Black_design_e21cf279-8485-44dd-aed2-e7d8ddd83d43_1200x1200.jpg?v=1633377894");
  background-repeat: repeat;
  -webkit-background-clip:text;
  animation: animate 15s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

@keyframes animate {
  0%, 100% {
    background-position: left top;
  }
  25%{
    background-position: right bottom;
  }
  50% {
    background-position: left bottom;
  }
  75% {
    background-position: right top;
  }   
}


@media (max-width: 600px) {
  .text-container h1{
    font-size: 50px;
  }
  .text-container h2{
    font-size: 30px;
  }
  
}

/* Homepage Sezione ultimo articolo */
#best-selling {
  background: #EDEBE4;
  padding: 140px 0;
  margin-bottom: 180px;
}

#best-selling .products-thumb {
  margin-right: 60px;
  box-shadow: 2px 6px 34px 4px rgba(63, 63, 63, 0.08);
}
#best-selling .product-entry {
  /*width: 50%;*/
  margin-top: 80px;
}
#best-selling .product-entry h3.item-title {
  font-size: 1.8em;
  font-weight: 100;
  margin-top: 15px;
}
#best-selling .product-entry .item-price {
  font-size: 1.5em;
  color: #74642F;
  margin-bottom: 60px;
}

.section-title {
  font-size: 3em;
  font-weight: 500;
  line-height: 1;
  position: relative;
  margin-bottom: 75px;
}

.section-title.divider {
  width: 100%;
}

@media screen and (max-width: 768px) {
  #best-selling .products-thumb {
    margin: 0;
  }
}

.section-header{
  position: relative;
}
.section-title {
  font-size: 3em;
  font-weight: 500;
  line-height: 1;
  position: relative;
  margin-bottom: 75px;
}
.section-title.divider {
  width: 100%;
}
.section-title.divider:after {
  content: "";
  border-bottom: 3px solid #74642F;
  position: absolute;
  right: 0;
  bottom: -16px;
  left: 0;
  width: 50px;
}
.section-header .section-title:before,
.section-header .section-title:after {
  content: "";
  border-bottom: 1px solid #E0E0E0;
  position: absolute;
  top: 30px;
  width: 25%;
  align-items: center;
}


.header-title{
  padding-bottom: 10px;
  border-bottom: 1px solid #E0E0E0;
}
